*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto Condensed", sans-serif;
}
form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    border-color: #000;
  }
  
  textarea {
    vertical-align: top;
    height: 5em;
    resize: vertical;
  }
  
  .button {
    padding-inline: 90px; 
  }
  
  button {
    margin-right: 10%;
  }
  
.navbar{
    background-color: grey;
    height: 6em;
    align-content: center;
}
.navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    list-style-type: none;
    text-decoration: none;
}
.navbar ul li a{
    color: white;
    font-size: 1.3em;
    list-style-type: none;
    text-decoration: none;
}

.navbar2{
    background-color: grey;
    height: 5em;
    align-content: center;
}
.navbar2 ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    list-style-type: none;
    text-decoration: none;
}
.navbar2 ul li a{
    color: white;
    font-size: 0.8em;
    list-style-type: none;
    text-decoration: none;
}





.Titre{
    font-size: 2em;
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

@media screen and (max-width: 780px){
  .navbar{
    height: 100%;
    background-color: grey ; align-content: center;
}
.navbar ul{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1em;    
    gap: 1em;
}
.navbar ul li a{
    color: white;
    font-size: 1.3em;
    list-style-type: none;
    text-decoration: none;
}

.navbar2{
    background-color: grey;
    height: 100%;
    align-content: center;
}
.navbar2 ul{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.navbar2 ul li a{
    color: white;
    font-size: 0.8em;
    list-style-type: none;
    text-decoration: none;
}
.Titre{
    font-size: 100%;
}
form {
  margin: 0 auto;
  width: 100%;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

ul {
  align-content: center;
  padding: 0;
  margin: 0;
}
label {
 flex-direction: column;
 width: 100%;
 text-align: center;
}

input,
textarea {
  width: 100%;
  box-sizing:border-box;
  border: 1px solid #999;
  align-content: center;
  flex-direction: column;
}
input:focus,
textarea:focus {
    border-color: #000;
    text-align: center;
    flex-direction: column;
}

textarea {
  text-align: center;
  height: 100%;
  flex-direction: column;
  
}

.button {
  padding-inline: 90px;  
  flex-direction: column;
  text-align: center;
}

button {
  margin-right: 10%;
  flex-direction: column;
  text-align: center;
}






}
